# Ignore Terraform state files and lock files
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ignore Terraform provider binaries and ancillary files
terraform/.terraform/

!.terraform/plugins/

terraform/.terraform/plugins/providers/*