# Ignore Terraform state files and lock files
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup

# Ignore Terraform provider binaries and ancillary files
infra/terraform/.terraform/

!.terraform/plugins/

terraform/.terraform/plugins/providers/*